* { /*Stylování celého dokumentu*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { /*Body dokumentu*/
    font-family: 'Arial', sans-serif;
    background-color: #2c2c2c;
    color: #f4f4f4;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header { /*Hlavička*/
    background-color: #1a1a1a;
    padding: 20px 0;
}

nav { /*Navigační menu*/
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover { /*Navigační menu při najetí*/
    background-color: #0e6dd1;
    border-radius: 5px;
    transition: background-color 0.3s; /*trvání zobrazení pozadí*/
    text-decoration: none;
    color: white;
}
.domu { /*podtržení na podstránce v nav. menu*/
    border-bottom: 3px solid #007bff;
    color: #007bff;
    filter: contrast(110%) brightness(110%);
}

.ja { /*hlavní div*/
    max-width: 800px;
    margin: 30px auto;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.prejit { /*druhej div*/
    max-width: 1000px;
    margin: 50px auto;
    background-color: #2c2c2c;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 2 2px 15px rgba(0, 0, 0, 0.5) ;
    text-align: center;
}

.social-icons { /*div s iconkami*/
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

.social-icon { /*odkaz iconka*/
    margin: 0 15px;
}

.social-icon-img { /*obrazek iconka*/
    width: 50px; 
    height: 50px;
    transition: transform 0.3s ease; /*délka animace*/
}

.social-icon-img:hover { /*při najetí na iconku*/
    transform: scale(1.1); /*zvětšení animace*/
}




h1 { /*hlavní nadpis*/
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

h2 { /*2. nadpis*/
    color: #007bff;
    margin-top: 30px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}
h3 { /*3. nadpis*/
    color: #007bff;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
}

p { /*odstavec*/
    line-height: 1.6;
    margin-bottom: 15px;
}

ul { /*V sekci o mně stylování seznamu takového*/
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 15px;
}

strong { /*modré písmo*/
    color: #007bff;
}

.section strong { /*modré písmo v sekci*/
    color: #007bff;
    text-transform: uppercase;
}

footer { /*patička*/
    text-align: center;
    padding: 20px 0;
    background-color: #1a1a1a;
    margin-top: auto; 
    width: 100%;
}

footer p { /*patička text*/
    color: #f4f4f4;
}
.pozadi { /*obrázek v pozadí*/
    background-image: url(img/konech.jpg);
}


/* Hamburgerové menu */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
.hamburger span {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0px;
    transition: all 0.3s ease;
}


#menu-toogle { /*nejde vidět na PC*/
    display: none;
}


#menu-toogle:checked + .hamburger + #nav-list {
    display: block;
}

@media (min-width: 750px) {
    .hamburger {
        display: none; 
    }
}

.hudbazajmy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kokos {
    padding: 15px 10px;
    font-size: 1.1em;
}
.singl {
    text-decoration: none;
}
.jedina {
    padding: 9px;
}
.jedina:hover {
    background-color: #007bff;
    border-radius: 10px;
    color: rgb(173, 170, 170);
    transition: background-color 0.3s;
}

/* Responsivita */
@media (max-width: 768px) {
    nav {
        display:flex;
    }
    
    nav ul {
        list-style-type: none;
        display: flex;
        display: block;
    }
    
    nav ul li {
        margin: 0 25px;
    }
    
    nav ul li a {
        color: #f4f4f4;
        text-decoration: none;
        font-weight: bold;
        padding: 10px;
        font-size: 1.3em;
    }
    
    nav ul li a:hover {
        background-color: #0e6dd1;
        border-radius: 5px;
        transition: background-color 0.3s;
        text-decoration: none;
        color: white;
    }

    .ja {
        padding: 25px;
    }
    .domu {
        border-bottom: 3px solid #007bff;
        color: #007bff;
        filter: contrast(110%) brightness(110%);
    }
    .social-icon-img {
        margin-left: 25px;
        width: 40px;
        height: 40px;
    }
    .hudbazajmy {
        text-align: left;
    }


    body {
        font-size: 16px;
    }

    nav ul li {
        margin: 5px 0;
        margin-top: 20px;
    }

    footer p {
        font-size: 14px;
    }
    .domu {
        border-bottom: none;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 5px;
    }
    .hamburger span {
        width: 30px;
        height: 3px;
        background-color: #0e6dd1;
        margin: 4px 0px;
        transition: all 0.3s ease;
    }

    /*skrytí checkboxu */
    #menu-toogle {
        display: none;
    }

    /* Zobrazení menu při zaškrtnutí checkboxu */
    #menu-toogle:checked + .hamburger + #nav-list {
        display: inline-block;
    }
    nav ul {
        display: none;
    }
}



/* Animace a přechody */
.ja {
    transition: transform 0.5s ease;
}

.ja:hover {
    transform: scale(1.01);
}

.section {
    padding: 20px;
    margin: 20px 0;
    background: #333;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.section h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.section p {
    color: #f4f4f4;
}

.zajmyjo {
    text-transform: uppercase;
    padding-top: 10px;
}

.ja {
    padding: 30px;
}
.oma {
    text-decoration: none;
}
